{{>header}}
<div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
           {{#each datos}}
          <tr>
            <th scope="row">{{id}}</th>
            <td><div><img src="http://localhost:3000/fotos/{{foto}}" alt="foto skater" width="40px" height="auto"></div></td>
            <td>{{nombre}}</td>
            <td>{{experiencia}}</td>
            <td>{{especialidad}}</td> 
            <td>           
            {{#if estado}}
            <input type="checkbox" checked onclick="status({{id}}, this)">
            {{else}}
            <input type="checkbox" onclick="status({{id}}, this)">
            {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</div>  
<script>
   const status = async (id, e) => {

        const estado = e.checked
        try {
          await axios.put(`/registro/status/${id}`, {
            estado
          })
          alert(estado ? "Skater aprobado!" : "Skater En revisión")
        } catch ({ response }) {
          alert(response.data.error)
        }
    
      }
</script>
    
    {{>pie}}