{{>header}}    
<div class="py-4">
      <h2>Lista de participantes</h2>

      <hr />

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {{#each datos}}
          <tr>
            <th scope="row">{{id}}</th>
            <td><div><img src="http://localhost:3000/fotos/{{foto}}" alt="foto skater" width="40px" height="auto"></div></td>
            <td>{{nombre}}</td>
            <td>{{experiencia}}</td>
            <td>{{especialidad}}</td>
            {{# if estado}}
            <td class="text-success font-weight-bold">Aprobado</td>
            {{else}}
            <td class="text-warning font-weight-bold">En revisión</td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/login">Iniciar Sesión</a> |
      <a href="/registro">Registrarme</a>
    </div>
{{>pie}}